<div class="footer-container">
  <div class="content">
    <div class="main-description">
      <div class="logo">
        <a _ngcontent-c1="" class="brand" href="#"><span _ngcontent-c1="" class="main">BL</span><span _ngcontent-c1=""
            class="secondary">Tools</span></a></div>
      <div class="site-description">
        BL3Tools is a platform for building and discovering Borderlands skill-trees
      </div>
    </div>
    <div class="footer-nav">
      <header>About</header>
      <div class="nav-items">
        <a>About</a>
        <a>Thomas Nguyen</a>
      </div>
    </div>
    <div class="footer-nav">
      <header>Open Source</header>
      <div class="nav-items">
        <a>Feedback & Suggestions</a>
        <a>Contribute to Project</a>
        <a>Github Repo</a>
      </div>
    </div>
  </div>
</div>
