<div class="footer-container">
  <div class="content">
    <div class="main-description">
      <div class="logo">
        <a _ngcontent-c1="" class="brand" href="#"><span _ngcontent-c1="" class="main">BL</span><span _ngcontent-c1=""
            class="secondary">Trees</span></a></div>
      <div class="site-description">
        BL3Tools is a platform for building and discovering Borderlands skill-trees
      </div>
    </div>
    <div class="footer-nav">
      <header>About</header>
      <div class="nav-items">
        <a href="https://github.com/thomasnguyen/BLTrees/" target="_blank">About</a>
        <a href="https://thomasnguyen.org" target="_blank">Thomas Nguyen</a>
      </div>
    </div>
    <div class="footer-nav">
      <header>Open Source</header>
      <div class="nav-items">
        <a href="https://github.com/thomasnguyen/BLTrees/blob/master/FEEDBACK.md">Feedback & Suggestions</a>
        <a href="https://github.com/thomasnguyen/BLTrees/blob/master/CONTRIBUTE.md" target="_blank">Contribute to
          Project</a>
        <a href="https://github.com/thomasnguyen/BLTrees/" target="_blank">Github Repo</a>
      </div>
    </div>
  </div>
</div>
