$mainOrange: #FFC107;
$buttonOrange: #E4AA4A;
$lightBG: #262C3D;
$mainBG: #262C3D;
$darkBG: #1D202C;
$darkerBG: #151821;


$light-text: #C5C6CB;
$headerHeight:75px;
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;

$max-width: 1040px;
$min-width:960px;

.navbar {
  background: $mainBG;
  height: $headerHeight;
  padding: 0px;
  display: flex;
  justify-content: center;

  .brand {
    position: absolute;
    left: 0px;
    background: $darkerBG;
    line-height: $headerHeight;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .main {
      color: $mainOrange;
      font-weight: $bold-weight;
    }

    .secondary {
      color: white;
      font-weight: $normal-weight;
      font-size: 18px;
    }
  }

  .menu {
    min-width: $min-width;
    line-height: $headerHeight + 15;
    height: 100%;

    .menu-item {
      margin-right: 35px;
      font-size: 14px;
      color: $light-text;
      padding-bottom: 20px;

      &:hover {
        opacity: .8;
      }

      &.active {
        color: white;
        font-weight: $bold-weight;
        border-bottom: 3px solid $mainOrange;
        opacity: 1 !important;
      }
    }
  }


  // global create + avatar
  .global {
    display: flex;
    flex-direction: row;

    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    right: 0;

    div,
    img,
    button {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}

.desktop {
  display: relative;
}

.mobile {
  display: none;
}

.hamburger-icon {
  height: 100%;
  line-height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);

}

.expanded-menu {
  width: 100%;
  background: $mainBG;
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;

  .mobile-nav-item {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    padding-bottom: 8px;
    padding-top: 8px;

    &:first-child {
      border-top: 0px solid green;
    }

    .avatar {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    // border-bottom: 1px solid gray;
  }
}

@media only screen and (max-width: 960px) {

  .expanded-menu {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    // padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 55px;
    justify-content: space-between;
  }

  .leftSide {
    display: flex;
    flex-direction: row;

    .hamburger-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }


  .mobileBrand {
    line-height: 55px;
    margin-left: 15px;

    .main {
      color: $mainOrange;
      font-weight: $bold-weight;
    }

    .secondary {
      color: white;
      font-weight: $normal-weight;
      font-size: 18px;
    }
  }
}
