<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="item">
      <div class="avy amara"></div>
      <div class="title">Amara</div>
    </div>
    <div class="item">
      <div class="avy fl4k"></div>
      <div class="title">Fl4k</div>
    </div>
    <div class="item">
      <div class="avy moze"></div>
      <div class="title">Moze</div>
    </div>
    <div class="item">
      <div class="avy zane"></div>
      <div class="title">Zane</div>
    </div>
  </div>
</div>
