<div class="hero hero-bg">
  <div class="hero-container">
    <div class="hero-text">
      <h2>
        BLTools is a platform for building and discovering Borderlands skill-trees
      </h2>
      <div class="call-to-action">
        <p>Free accounts allows for better customization</p>
        <div class="button-group">
          <button class="btn ghost primary">Sign-Up</button>
          <button (click)="openCharSelect()" class="btn solid primary"><i class="fas fa-hammer"></i> Create
            Build</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-under-construction></app-under-construction>
