$darkBG: #1D202C;

.options {
  display: flex;
  margin-top: 66px;
  margin-left: 65px;
  height: 30px;
  // border-bottom: 1px solid #898888;
  padding-left: 5px;
  padding-right: 5px;

  a {
    font-size: 12px;
    color: #B8B9C0;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    // padding: 0px;
    border-bottom: 1px solid #898888;

    &.active {
      border-bottom: 2px solid #B8B9C0;
    }

    &:hover {
      border-bottom: 2px solid #B8B9C0;

    }
  }
}

.RL_hero {
  width: 100%;
  height: 145px;
  margin-bottom: 50px;

  .hero-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
    width: 960px;
  }

  .right {
    position: absolute;
    right: 0;
  }
}

.treeBuilder-card {
  border-radius: 5px;
  position: relative;
  width: 300px;
  height: 145px;
  background: $darkBG;
  text-align: center;

  &.amara {
    border-top: 1px solid #634385;
  }

  .char-avy {
    margin-top: -22px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &.amara {
      border: 2px solid #7D4EA4;
    }
  }



  .special-skills {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #191B26;

    .special-skill-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .specialSkill-icon {
        width: 36px;
        height: 33px;
        background-size: 35px 33px;
      }
    }
  }



  .meta {
    h2 {
      font-size: 16px;
      color: #FFFFFF;
      margin-bottom: 5px;
    }

    .progress-stat {
      font-size: 12px;
      color: #727272;
      margin: 5px;
      margin-top: 0px;


      .tree-points {
        font-size: 16px;
        color: #BEBEBE;
        font-weight: 400;
      }
    }

    .progress {
      width: 200px;
      height: 5px;
      background: #13141C;
      margin: auto;

      .progress-bar.amara {
        background: #7D4EA4;
      }
    }

  }
}




.hero {
  display: flex;
  justify-content: center;

  .hero-flex {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 660px;
    // max-width: 960px;
    justify-content: space-between;
    align-items: center;

    .char-meta {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .char-information {
        padding-left: 10px;
        height: 100%;

        h3 {
          margin-top: -5px;
          margin-bottom: 10px;
        }

        .char-buttons {
          button {
            // margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
            font-size: 12px;
          }
        }
      }
    }

  }

}


.carousel-controller {
  width: calc(50% - 150px);
  height: 500px;
  margin-top: -15px;
  background: rgba(0, 0, 0, .2);

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tree-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;

  &.desktop {
    max-width: 960px;
  }

  &.mobile {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
  }
}


.character-info {
  text-align: center;
}

.mobile-tree-container {
  display: none;
}


@media only screen and (max-width: 960px) {
  .tree-container {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
    }
  }

}


.hero {
  width: 100%;
  height: 150px;
  background: black;
}


.action-skill-container {
  background: #1C2643;
  border: 1px solid #000000;
  width: 250px;
  height: 75px;
  border-radius: 10px;
  // margin-left: 50px;
}


.action-skill-container {
  display: flex;
  flex-direction: row;
}

.skill-icon {
  position: relative;

  width: 48px;
  height: 48px;
  // border-radius: 5px;

  // temp
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;

  &.unselectable {
    opacity: .5;
  }

  &.augment {
    background-image: url('/../../assets/augmentBG.png');
    filter: grayscale(100%);

    &:hover {
      cursor: pointer;
      filter: grayscale(0%);

    }

  }

  &.element {
    background-image: url('/../../assets/elementBG.png');
    filter: grayscale(100%);

    &:hover {
      cursor: pointer;
      filter: grayscale(0%);

    }

  }

  &.actionSkill {
    background-image: url('/../../assets/actionSkillBG.png');
    //filter: grayscale(100%);


    &.blue {
      filter: hue-rotate(180deg);
    }

    &.green {
      filter: hue-rotate(45deg);
    }

    &.red {
      filter: hue-rotate(330deg);
    }

    &:hover {
      cursor: pointer;
      filter: grayscale(0%);
    }
  }

  &.skill {
    background-image: url('/../../assets/skillBG.png');
    filter: grayscale(100%);

    &:hover {
      cursor: pointer;
      filter: grayscale(0%);
    }

    &.selected.blue {
      filter: hue-rotate(180deg);
    }

    &.selected.green {
      filter: hue-rotate(45deg);
    }

    &.selected.red {
      filter: hue-rotate(330deg);
    }
  }

  .skill-icon_counter {
    font-size: 10px;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    color: white;
    background: black;
    text-align: center;


    position: absolute;
    bottom: -5px;
    right: -5px;
  }

}

.actionSkill_equipped {
  font-size: 10px;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  color: white;
  background: black;
  text-align: center;


  position: absolute;
  bottom: -5px;
  left: -5px;
}


.augmentSkill_equipped {
  font-size: 10px;
  border-radius: 5px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  color: white;
  background: black;
  text-align: center;


  position: absolute;
  bottom: -5px;
  left: -5px;
}

.tree-info {
  text-align: center;
}

.tree-name {
  font-weight: 700;
  text-transform: capitalize;

  &.blue {
    color: #2C97E2;
  }

  &.green {
    color: #4AA028;
  }

  &.red {
    color: #B73C31;
  }
}
